<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>Add a new Product</h1>
    <form action="/products" method="POST">
        <label for="name">Product name</label>
        <input type="text" name="name" id="name" placeholder="Enter Product Name">
        <label for="price">Enter Price</label>
        <input type="number" name="price" id="price" placeholder="Enter Price">
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <option value="Fruit">Fruit</option>
            <option value="Vegetable">Vegetable</option>
            <option value="Drinks">Drinks</option>
        </select>
        <button>Submit</button>
    </form>
</body>
</html>